#hero{
    padding-top: 100px;
    display: flex;
    gap: 150px;
    background-color: gainsboro;
    margin-top: -20px;
}
#hero #left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#hero #left h3{
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 300;
    margin-left: 80px;
}
#hero #left p{
    color: gray;
    font-size: 20px;
    margin-left: 60px;
    margin-top: -30px;
}
#hero #right img{
    height: 400px;
    margin-right: 100px;
}