#best{
 display: flex;
 gap: 50px;
 margin-top: 80px;
 padding-left: 150px;
 background-color: rgba(197, 175, 154, 0.5);
 height: 600px;
 padding-top: 50px;
}
#best #left img{
    height: 400px;
    box-shadow: 1px 1px 1px 2px rgb(137, 127, 68);
}
#right h2{
    font-size: 40px;
}
#right h6{
    color: gray;
}
#right h3{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#right p{
    text-align: center;
    color: gray;
}
#right h5{
    color: rgb(189, 163, 35);
    font-size: 30px;
}
