section{
    display: flex;
    gap: 40px;
}
p{
    text-align: center;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
}
.heading{
    font-size: 30px;
}
